@use "../../assets/styles/variables" as *;

.wrap {
  transition: all .2s cubic-bezier(.55, .085, .68, .53);
  padding: 32px;
  border-radius: 16px;
  border: 1px solid transparent;

  &.light {
    background-color: $primary-white;
    box-shadow: $box-shadow;

    .iconContainer {
      background-color: $secondary-light-blue;
    }

    h1 {
      color: $primary-dark-gray;
    }

    label {
      color: $secondary-light-gray;
    }

    input {
      border-color: $secondary-white;
      color: $primary-dark-gray;
      background-color: $primary-light-gray;
    }

    .cryptoSelect,
    .fiatSelect,
    .stakingSelect {
      &__control {
        border-color: $secondary-white;
        background-color: $primary-light-gray;
      }

      &__menu {
        border-color: $secondary-white;
        background-color: $primary-light-gray;
      }

      &__single-value {
        color: $primary-dark-gray;
      }
    }
  }

  &.dark {
    background-color: $primary-dark-gray;
    border-color: $primary-dark-blue;

    .iconContainer {
      background-color: $secondary-dark-blue;
    }

    h1 {
      color: $primary-white;
    }

    label {
      color: $secondary-white;
    }

    input {
      border-color: $secondary-light-gray;
      color: $primary-white;
      background-color: $primary-dark-blue;
    }

    .cryptoSelect,
    .fiatSelect,
    .stakingSelect {
      &__control {
        border-color: $secondary-light-gray;
        background-color: $primary-dark-blue;
      }

      &__menu {
        border-color: $secondary-light-gray;
        background-color: $primary-dark-blue;
        color: $primary-white;
      }

      &__single-value {
        color: $primary-white;
      }

      &__option--is-focused {
        background: $primary-dark-gray;
      }

      &__option--is-selected {
        background: $secondary-light-gray;
      }
    }
  }
}

.headingContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
  align-items: center;

  .iconContainer {
    padding: 12px;
    border-radius: 12px;
    color: $ico-blue;
  }

  h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}

.stakingForm {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-size: 13px;
      line-height: 24px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    input {
      border-radius: 12px;
      border-width: 1px;
      border-style: solid;
      padding: 16px;
      font-weight: 500;

      &[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        // Removes spinner for Firefox
        -moz-appearance: textfield;
      }
    }

    .cryptoSelect,
    .fiatSelect,
    .stakingSelect {
      display: flex;

      &__single-value {
        font-weight: 500;
      }

      &__control {
        padding: 16px;
        display: flex;
        width: 100%;
        max-height: 55px;
        border-radius: 12px;
        align-content: center;
        box-shadow: none;
        cursor: pointer;

        &--menu-is-open {
          border-radius: 12px 12px 0 0;
          border-bottom: 1px solid transparent;

          .cryptoSelect__dropdown-indicator,
          .fiatSelect__dropdown-indicator,
          .stakingSelect__dropdown-indicator {
            transform: rotate(180deg);
          }
        }
      }

      &__value-container {
        padding: 0;
      }

      &__indicator-separator {
        display: none;
      }

      &__dropdown-indicator {
        transition: transform 0.3s ease-in-out;
        padding-left: 0;
        padding-right: 0;
      }

      &__menu {
        margin: 0;
        border-radius: 0 0 12px 12px;
        box-shadow: none;
        border-style: solid;
        border-width: 1px;
        border-top: none;
      }

      &__menu-list {
        padding: 0;
      }
    }
  }
}