@use "../../assets/styles/variables" as *;

.wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;

  &.light {
    color: $primary-dark-gray;

    .metricsWrap,
    .chartWrap {
      background-color: $primary-white;
      box-shadow: $box-shadow;
    }

    .priceContainer{
      background-color: $secondary-light-blue;

      .iconContainer {
        background-color: $tertiary-light-blue;
      }
    }

    .apyContainer {
      background-color: $secondary-light-green;

      .iconContainer {
        background-color: $tertiary-light-green;
      }
    }

    .growthContainer {
      background-color: $secondary-light-purple;

      .iconContainer {
        background-color: $tertiary-light-purple;
      }
    }

    h3 {
      color: $secondary-light-gray;
    }

    .barTooltip {
      background-color: $primary-white;
    }
  }

  &.dark {
    color: $primary-white;

    .metricsWrap,
    .chartWrap {
      background-color: $primary-dark-gray;
      border-color: $primary-dark-blue;
    }

    .priceContainer{
      background-color: $secondary-dark-blue;

      .iconContainer {
        background-color: $tertiary-dark-blue;
      }
    }

    .apyContainer {
      background-color: $secondary-dark-green;

      .iconContainer {
        background-color: $tertiary-dark-green;
      }
    }

    .growthContainer {
      background-color: $secondary-dark-purple;

      .iconContainer {
        background-color: $tertiary-dark-purple;
      }
    }

    h3 {
      color: $secondary-white;
    }

    .barTooltip {
      background-color: $primary-dark-blue;
    }
  }

  .metricsWrap,
  .chartWrap {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: 24px;
    border-radius: 16px;
    padding: 32px;
    border: 1px solid transparent;
  }

  .metricsWrap {
    flex: 0 1 auto;

    .metricBoxes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;

      @media (max-width: $screen-sm) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    h2 {
      width: 100%;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
    }

    .priceContainer,
    .apyContainer,
    .growthContainer {
      padding: 16px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      @media (max-width: $screen-lg) {
        padding: 12px;
        gap: 8px;
      }
    }

    .iconContainer {
      padding: 12px;
      border-radius: 12px;
    }

    .priceContainer .iconContainer svg {
      color: $ico-blue;
    }

    .apyContainer .iconContainer svg {
      color: $ico-green;
    }

    .growthContainer .iconContainer svg {
      color: $ico-purple;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.35px;

      @media (max-width: $screen-lg) {
        font-size: 12px;
      }
    }

    h4 {
      font-size: 22px;
      line-height: 32px;
      font-weight: 700;

      @media (max-width: $screen-lg) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .chartWrap {
    min-height: 340px;

    .chartContainer {
      flex: 1 0 auto;
      width: 100%;
    }

    h2 {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    .barTooltip {
      padding: 18px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border-radius: 12px;

      p {
        font-weight: 600;
        font-size: 16px;

        &.txtGreen {
          color: $ico-green;
        }

        &.txtBlue {
          color: $ico-blue;
        }
      }
    }
  }
}